.mobile-readmore,
.mobile-readmore2 {
    display: none;
}
.mobile-collapse,
.mobile-collapse2 {
    display: block;
}
@media (min-width: 1200px) {
    .container{
        max-width: 960px;
    }
    .vfe-nav .container{
        max-width: 1140px;
    }
    footer .container{
        max-width: 1140px;
    }
    .profile-page .container {
        max-width: 1140px;
    }
    .view-profile-secton .container {
        max-width: 1140px;
    }
}
@media (min-width:992px) and (max-width:1199px) {
   .navbar-brand{
        max-width: 250px;
    } 
    .navbar-nav .nav-item .nav-link {
        padding: 1.1em 0.5em !important;
    }
}
@media (max-width:992px){
    .contact-address-box {
        padding: 90px 15px 40px;
    } 
    .about-testimonial .banner-heading {
        font-size: 36px;
        line-height: 44px;
    }
    .about-testimonial .banner-sub-heading {
        display: inline-block;
        float: right;
        position: relative;
        bottom: 50px;
        right: 50px;
        font-size: 20px;
    }
    .contact-address-box {
        margin-bottom: 90px;
    }
    .profile-page {
        padding-top: 80px;
    }
    
}
@media (min-width: 768px) {
    .profile-page .profile-page-tabbing .tab-content {
        min-height: 390px;
    }
}
@media (min-width:768px) and (max-width:992px) {
    .navbar-nav .nav-item .nav-link {
        padding: 1.1em 0.5em !important;
        font-size: 18px;
        border-bottom: 0px solid #ccc !important;
    }

    .navbar-brand {
        max-width: 220px;
    }

    section.contact-section .container .row:last-child > div .contact-address-box {
        margin-bottom: 15px;
    }
}

@media (max-width:991px) {
    .privelege-suite-packages-section {
        position: relative;
        padding-top: 80px;
        padding-bottom: 50px;
    }

    .packages-section {
        position: relative;
        padding-top: 80px;
        padding-bottom: 50px;
    }

    .packages-left {
        margin-bottom: 30px;
    }

    .profile-page-tabbing > ul > li > a {
        font-size: 14px;
    }

    .tabbing-left-section {
        max-width: 200px;
        margin: 0 auto 30px;
    }

    .thankyou-page-text {
        width: 75%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding: 100px 0 115px;
        height: auto;
        color: #414042;
        font-size: 24px;
    }

    .mar-lr-auto {
        margin: 0px auto 0px;
    }

    .our-members-page .text-head2 {
        margin: 0px auto 20px;
        padding: 0;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .navbar-nav .nav-item .nav-link {
        padding: 1.1em 0.5em !important;
        font-size: 16px;
        border-bottom: 0px solid #ccc !important;
    }
    .vfe-nav .profile-welcome-name {
        position: absolute;
        right: 0;
        bottom: 0px;
        font-size: 14px;
    }
    .footer-link li {
        padding-left: 30px;
    }

    footer p {
        padding-left: 30px;
    }

    .navbar-brand {
        max-width: 140px;
    }
}

@media (max-width:768px) {
    .banner {
        padding-top: 80px;
        background-size: cover;
        padding-left: 20px;
        padding-right: 20px;
    }

    .banner .large-text {
        top: 50px;
    }

    .banner-text {
        padding: 40px 0 10px 0;
    }

    .my-story {
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
    }
    .text-head2 {
        margin-bottom: 40px;
        margin-top: 25px;
    }
    .my-story h3 {
        font-size: 28px;
        margin-bottom: 50px;
        text-align: justify;
    }
    .my-story p {
        font-size: 18px;
        margin-bottom: 20px;
        text-align: justify;
    }

    .banner .large-text,
    .my-story .large-text,
    .opposites-attract .large-text,
    .opposites-attract .large-text2 {
        max-width: 150px;
        z-index: -1;
    }

    .opposites-attract {
        padding-bottom: 60px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 40px;
    }

    .footer-link li {
        padding-left: 0px;
    }

    footer p {
        padding-left: 0;
    }

    .navbar-nav .nav-item .nav-link {
        padding: 0.5em 1em;
        font-size: 16px;
        border-bottom: 1px solid #f4bc561f;
    }

    ul.navbar-nav.nav-social {
        flex-direction: row;
    }

        ul.navbar-nav.nav-social .nav-link {
            border-bottom: 0px solid #ccc;
        }

    .our-packages .faq-image-section-right img {
        max-width: 100%;
    }

    .about-our-process .about-our-process-left {
        margin-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }

    .about-our-process .about-our-process-right {
        padding-left: 0;
    }

    .navbar-nav .nav-item .nav-link:after, .shrink .nav-item .nav-link:after {
        display: none;
    }

    .login-right-form {
        background: #f8f0e7;
        padding: 30px 35px;
        margin: 30px 0 0 0px;
        width: 100%;
    }

    section.contact-section {
        padding: 160px 0 0;
    }

    .contact-form-right {
        padding: 50px 0px 30px;
        margin: 0px 0 0 0px;
        width: 100%;
    }

    .contact-address-box {
        margin-bottom: 90px;
    }

    section.contact-section .container .row:last-child > div:last-child .contact-address-box {
        margin-bottom: 15px;
    }

    .contact-form-section {
        padding-top: 40px;
        padding-bottom: 0;
    }

    .contact-form-right .text-head2 {
        font-size: 60px;
        line-height: 50px;
        padding-left: 0;
    }

    .our-package-indian-left {
        margin-bottom: 25px;
    }

    .terms-conditions-row-left {
        margin-bottom: 30px;
    }

    .signup-section {
        padding-top: 80px;
        padding-bottom: 50px;
    }

    .signup-right-form {
        margin: 20px 0 0 0px;
    }

    .thankyou-page-text {
        width: 75%;
        padding: 60px 0 60px;
    }

    .thankyou-page-inner {
        background: #fff url(../images/banner-bg.jpg) no-repeat center center / cover;
    }

    .forgot-password-inner {
        background: #f8f0e7;
        padding: 15px 15px;
    }

        .forgot-password-inner .text-head2 {
            font-size: 34px;
            padding: 0;
        }

    .error-404-text {
        margin: 0px auto;
    }
    .about-our-process h2,
    .about-our-team h2 {
        font-size: 40px;
        line-height: 40px;
        margin: 0 0 5px;
        text-align: center;
    }
    .our-members-page {
        padding-top: 80px;
    }
    .about-our-process {
        padding-top: 80px;
    }
    .our-members-bnr {
        margin-bottom: 50px;
    }
}

@media (max-width:767px) {
    .banner-text {
        padding: 40px 0 10px 0;
    }

    .banner-sub-heading {
        font-size: 23px;
        font-weight: 200;
        line-height: 23px;
        margin-bottom: 40px;
    }

    .navbar-nav .nav-item .nav-link {
        padding: 0.3em 1em !important;
        font-size: 16px;
        /*border-bottom: 1px solid #ccc;*/
    }

    ul.navbar-nav.nav-social {
        flex-direction: row;
        padding: 0 0px;
        display: inline-block;
        /*width: 35%;*/
    }
    ul.navbar-nav.nav-social li.nav-item {
        display: inline-block;
    }
    ul.navbar-nav.nav-social .nav-link {
        border-bottom: 0px solid #ccc;
        padding: 0.3em 0.5em !important;
    }
    .vfe-nav .profile-welcome-name {
        right: 10px;
        position: relative;
        display: inline-block;
        float: right;
        bottom: -5px;
    }
    .navbar-brand {
        max-width: 200px;
        margin-left: 10px;
    }

    .banner-text {
        width: 100%;
    }

    .text-head2 {
        padding-left: 15px;
        font-size: 40px;
    }

    .opposites-attract .text-head2 {
        font-size: 36px;
        line-height: 40px;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 50px;
    }

    .footer-link li {
        padding-left: 0px;
        padding-right: 10px;
    }

    .opposites-attract h3:first-child {
        margin-top: 20px;
        margin-bottom: 50px;
        text-align: justify;
    }
    .opposites-attract p {
        font-size: 18px;
        margin-bottom: 20px;
        text-align: justify;
    }
    .our-packages, .our-process, .faq-payments {
        margin-bottom: 0;
    }

    footer {
        text-align: center;
    }

    .footer-logo {
        margin: 0 auto 10px;
    }

    footer p {
        padding-left: 0px;
    }

    .our-packages h2 {
        padding: 5px 0 10px;
    }
    section.faqs {
        padding-top: 80px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .faqs h2 {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 50px;
    }

    .faqs h3 {
        font-size: 20px;
        margin-bottom: 50px;
    }
    .faqs .accordion .card {
        margin-bottom: 50px;
    }
    .faqs .accordion .card .card-header h3 button {
        font-size: 20px;
        line-height: 22px;
    }

    .faqs .accordion .card .card-body h2 {
        font-size: 20px;
    }
    .faqs .accordion .card .card-body p {
        text-align: justify;
    }

    .faq-image-section-right {
        display: none;
    }
    input#CaptchaText {
        width: 175px;
    }
    section.contact-section {
        padding-left: 20px;
        padding-right: 20px;
    }
    .contact-form-section {
        padding-left: 20px;
        padding-right: 20px;
    }
    .contact-form-right .form-group {
        margin-bottom: 3rem;
    }
    .contact-page-body {
        display: flex;
        flex-wrap: wrap;
    }
    .contact-page-body section{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .contact-page-body section.contact-form-section {
        order: 1;
        padding-top: 80px;
    }
    .contact-page-body section.about-testimonial {
        order: 2;
    }
    .contact-page-body section.contact-section {
        order: 3;
    }
    .about-our-team .about-our-team-right a, .about-our-team .about-our-team-right .morelink {
        font-size: 16px;
        color: #f4bc56 !important;
        background: transparent;
        border: 0;
        padding: 0;
    }
    .terms-conditions-row-right p {
        margin-bottom: 50px;
        text-align: justify;
    }
    .terms-conditions-row-right h3{
        margin-bottom: 50px;
    }
    .terms-conditions-row .terms-conditions-full-col h3 {
        margin-bottom: 50px;
    }
    .terms-conditions-row .terms-conditions-full-col p {
        margin-bottom: 50px;
        text-align: justify;
    }
    .terms-conditions .terms-conditions-row p {
        margin-bottom: 50px;
        text-align: justify;
    }
    .terms-conditions-row .terms-conditions-full-col h3 {
        margin-bottom: 50px;
    }
    .about-us {
        padding-top: 80px;
        padding-bottom: 10px;
        background: no-repeat;
    }

    .about-testimonial {
        background-size: cover;
    }

    .about-testimonial .banner-text {
        padding: 50px 20px 50px 20px;
        width: 100%;
        margin: 0 auto;
    }

    .about-testimonial .banner-heading {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 20px;
    }

    .about-testimonial .banner-sub-heading {
        display: block;
        float: none;
        position: relative;
        bottom: 0;
        right: 0;
        font-size: 18px;
        margin-bottom: 0;
    }

    .about-our-team-left {
        margin-bottom: 25px;
    }

    .loin-section {
        padding-top: 50px;
        padding-bottom: 0;
    }

    .apply-membership .col-lg-8.col-md-10.col-sm-12.col-xs-12.offset-lg-2.offset-md-1,
    .apply-membership .col-lg-8.col-md-10.col-sm-12.col-xs-12.offset-lg-2.offset-md-1 .form-group.col-md-12.col-sm-12,
    .apply-membership .col-lg-8.col-md-10.col-sm-12.col-xs-12.offset-lg-2.offset-md-1 label.control-label.col-sm-12,
    .apply-membership .col-lg-8.col-md-10.col-sm-12.col-xs-12.offset-lg-2.offset-md-1 .col-sm-3,
    .apply-membership .col-lg-8.col-md-10.col-sm-12.col-xs-12.offset-lg-2.offset-md-1 label.radio-inline.col-md-12 {
        padding-left: 0;
        padding-right: 0;
    }

    .apply-membership {
        padding-top: 80px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .apply-membership .form-group {
        margin-bottom: 3rem;
    }
    .apply-membership .text-head2 {
        font-size: 40px;
        line-height: 40px;
        padding-left: 0;
    }

    .apply-membership h3 {
        padding: 0;
    }
    .type-category-select {
        padding: 0 0px 0 0px;
    }
    .type-category-select>.custom-control {
        padding: 0 0px 0 10px;
    }
    .our-package-indian .text-head2 {
        font-size: 40px;
        line-height: 40px;
        padding-left: 0;
        margin-bottom: 25px;
    }
    .our-package-indian > .container > h3 {
        margin-bottom: 50px;
    }
    .our-package-indian-left {
        margin-bottom: 50px;
    }
    .our-package-indian .our-package-indian-right {
        margin-bottom: 50px;
    }
    .our-package-indian-text h4 {
        margin-bottom: 50px;
    }
    .our-package-indian-text p {
        margin-bottom: 50px;
        text-align: justify;
    }
    .type-category-select-right {
        padding: 0;
    }
    .our-package-indian {
        padding-top: 80px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .terms-conditions {
        padding-top: 80px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .terms-conditions .terms-conditions-row .text-head2 {
        font-size: 50px;
        margin-bottom: 50px;
        padding: 0;
    }

    .profile-page-tabbing > ul {
        display: block;
    }

    .profile-page-tabbing > ul > li {
        width: 49%;
    }

    .profile-page-tabbing > ul > li:last-child {
        margin: 0 0px 0 0;
        padding-right: 10px;
    }

    .file-field input.file-path {
        width: 95%;
    }

    .tabbing-right-section .hgft2,
    .tabbing-right-section .hgft1 {
        margin-bottom: 15px;
    }

    .my-matches-col {
        max-width: 300px;
        margin: 0 auto 30px;
    }

    .account-settings-section-btn .account-join-btn {
        margin-bottom: 15px;
    }

    .account-settings-section-form .form-group p a {
        margin-top: 15px;
        display: block;
    }

    .tabbing-right-section > div {
        margin-bottom: 20px;
    }
    .privelege-suite-packages-section .text-head2,
    .packages-section .text-head2 {
        font-size: 40px;
        line-height: 40px;
        padding-left: 0;
    }
    .privelege-suite-packages-row {
        margin: 0px 15px 30px;
    }
    #payOptDiv,
    #chequeInfo {
        padding: 0 15px;
    }
    #payOptDiv .privelege-suite-packages-row,
    #chequeInfo .privelege-suite-packages-row {
        margin: 0px 0px 30px;
    }
    privelege-suite-packages-row .packages-inner-box,
    .privelege-suite-packages-row .packages-inner-box {
        padding: 0;
    }
    .view-profile-secton {
        padding-top: 80px;
    }
    .view-profile-left-secton {
        padding: 0 15px 0 15px;
    }
    .view-profile-left {
        background: #F3ECE0;
        padding: 15px 15px;
    }
    .view-profile-img {
        margin-bottom: 30px;
    }
    .view-profile-info h3 {
        margin: 0 0 15px;
        font-size: 28px;
    }
    .view-profile-info p {
        color: #58595b;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .view-profile-left-btm {
        padding: 50px 15px;
    }
    .view-profile-right-secton {
        padding: 0 5px 0 5px;
    }
    .login-left {
        display: none;
    }
    .mobile-collapse,
    .mobile-collapse2{
        display: none;
    }
    .mobile-readmore,
    .mobile-readmore2 {
        display: block;
        color: #f4bc56;
        background: transparent;
        border: 0;
        padding: 6px 0 0;
    }
    .mobile-lessmore,
    .mobile-lessmore2{
        color: #f4bc56;
        background: transparent;
        border: 0;
        padding: 6px 0 0;
    }
    .my-story > .container > .row > .col-lg-6.col-md-6.col-sm-12.col-xs-12:first-child {
        order: 2;
    }
    .my-story > .container > .row > .col-lg-6.col-md-6.col-sm-12.col-xs-12:last-child {
        margin-bottom: 50px;
    }
    .my-story > .container > .row.text-center .text-head2 {
        padding-left: 15px;
        font-size: 40px;
        display: block;
        width: 100%;
        padding: 0;
    }
    .my-story p {
        margin-bottom: 50px;
    }
    .opposites-attract > .container > .row > .col-lg-6.col-md-6.col-sm-12.col-xs-12 {
        margin-bottom: 35px;
    }
    .mob-mb0 {
        margin-bottom: 0 !important;
    }
    .about-us .dear-reader {
        padding: 15px 35px;
        background: #fff;
        margin-top: 0px;
    }
    .about-us .dear-reader h3 {
        margin: 40px 0 50px;
    }
    .about-us .dear-reader p {
        margin-bottom: 50px;
        text-align: justify;
    }
    .about-us .dear-reader h4 {
        margin: 10px 0 50px;
    }
    .anu-signature {
        margin-bottom: 35px;
    }
    .our-members-content p {
        margin-bottom: 50px;
        text-align: justify;
    }
    .our-members-content h3 {
        margin-bottom: 50px;
    }
    .our-members-page {
        padding-left: 20px;
        padding-right: 20px;
    }
    .about-our-process .about-our-process-right h4 {
        margin-bottom: 50px;
    }
    .about-our-process .about-our-process-right h3 {
        margin-bottom: 50px;
    }
    .about-our-process .about-our-process-right p {
        margin-bottom: 50px;
        text-align: justify;
    }
    .about-our-process .about-our-process-right ul {
        margin-bottom: 50px;
    }
    .about-our-process .about-our-process-right ul li {
        margin-bottom: 10px;
    }
    .about-our-process .about-our-process-right {
        padding-left: 20px;
        padding-right: 20px;
    }
    .about-our-team h2 {
        margin: 0 0 50px;
    }
    .about-our-team p {
        margin-bottom: 50px;
        text-align: justify;
    }
    .about-our-team {
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .about-our-team .about-our-team-right h4 {
        margin-bottom: 15px;
        margin-top: 25px;
        text-align: center;
    }
    .about-our-team .about-our-team-right .about-profile-text {
        text-align: center;
    }
    /*.address-box-full-address{
        display: none;
    }*/
}

@media (max-width:576px) {
    .about-us .dear-reader {
        padding: 15px 35px;
        background: #fff;
        margin-top: 0;
    }

    .about-us .dear-reader h2 {
        font-size: 40px;
        line-height: 40px;
    }

    .banner-text-inner:before {
        top: -20px;
    }

    .banner-text-inner:after {
        bottom: -10px;
    }
    .type-category-select-left {
        padding: 0 0px 0 10px;
        width: 10%;
    }
    .type-category-select-right {
        width: 90%;
        padding: 0;
    }
    .tabbing-right-section .accordion > .card .card-header button.collapse-btn {
        font-size: 20px;
    }
    .card-header-bnt-box {
        position: relative;
        right: 0px;
        top: auto;
        z-index: 9;
        bottom: 6px;
        left: auto;
        text-align: right;
    }
    .card-header-bnt-box button, .card-header-bnt-box input {
        padding: 2px 10px;
        width: auto;
        min-width: auto;
        font-size: 14px;
    }
    .account-settings-section-form{
        padding: 15px;
    }
    .account-settings-section-form .form-group p a {
        font-size: 18px;
    }
    .my-matches-row {
        padding: 15px 15px;
    }
    .date-of-brithday .custom-select .select-selected {
        background: url(../images/down-arrow.png) no-repeat 98% center / 20px !important;
    }
    .date-of-brithday .custom-select {
        margin-bottom: 10px;
    }
}
@media (min-width:501px) and (max-width:767px) {
    .profile-page-tabbing > ul > li:nth-child(4) > a {
        border-bottom: 1px solid #ccc;
    }
}
    @media (max-width:500px) {
        .navbar-nav {
            color: #fff;
            z-index: 1;
            margin-top: 5px;
        }

            .navbar-nav .nav-item .nav-link {
                /*padding: 0.7em 1em !important;*/
                font-size: 100%;
                font-weight: 500;
            }

        .banner-text {
            padding: 40px 0 10px 0;
        }

        .banner-heading {
            font-size: 30px;
            line-height: 30px;
            margin-bottom: 20px;
        }

        .banner-sub-heading {
            font-size: 20px;
            font-weight: 200;
            line-height: 10px;
            margin-bottom: 40px;
        }

        .thankyou-page-text {
            width: 100%;
            padding: 60px 0 60px;
        }

        .profile-page-tabbing > ul > li {
            width: 100%;
            padding: 0;
        }

        .profile-page-tabbing > ul > li:last-child {
            margin: 0 0px 0 0;
            padding-right: 0px;
        }

        ul.navbar-nav.nav-social .nav-link {
            padding: 0.1em 0.5em 0.2em 0.5em !important;
        }

        /*.text-head2 {
            margin-bottom: -10px;
        }*/
    }